<a href="https://colab.research.google.com/github/Vyshnavisangaraboina/DATA_MINING/blob/main/Lab_04i.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

Encoding

In [ ]:
col_data = {'Color': ['Red', 'Green', 'Blue', 'Yellow', 'Black', 'White']}
df_col =  pd.DataFrame(col_data)

Perform One Hot_Encoding

In [ ]:
one_hot_encoded = pd.get_dummies(df_col['Color'], prefix='Color')

In [ ]:
one_hot_encoded = one_hot_encoded.astype(int)

In [ ]:
print(one_hot_encoded)

   Color_Black  Color_Blue  Color_Green  Color_Red  Color_White  Color_Yellow
0            0           0            0          1            0             0
1            0           0            1          0            0             0
2            0           1            0          0            0             0
3            0           0            0          0            0             1
4            1           0            0          0            0             0
5            0           0            0          0            1             0

In [ ]:
from sklearn.preprocessing import LabelEncoder

In [ ]:
label_encoder = LabelEncoder()
df_col['Color_Label'] = label_encoder.fit_transform(df_col['Color'])

In [ ]:
df_col['Color_Label']

0    3
1    2
2    1
3    5
4    0
5    4
Name: Color_Label, dtype: int64

In [ ]:
emp=pd.read_csv('/content/EMP_SAL.csv')

In [ ]:
emp

           DOB  BASIC_PAY    HRA     DA    TAX
0   07-03-2004      75000  12500   5200   4500
1   10-03-2002      79500  13200   5600   5000
2   12-03-2000      84000  13900   6000   5500
3   15-03-1998      88500  14600   6400   6000
4   17-03-1996      93000  15300   6800   6500
5   20-03-1994      97500  16000   7200   7000
6   22-03-1992     102000  16700   7600   7500
7   25-03-1990     106500  17400   8000   8000
8   27-03-1988     111000  18100   8400   8500
9   30-03-1986     115500  18800   8800   9000
10  01-04-1984     120000  19500   9200   9500
11  04-04-1982     124500  20200   9600  10000
12  06-04-1980     129000  20900  10000  10500
13  09-04-1978     133500  21600  10400  11000

In [ ]:
emp['Salary']=emp['BASIC_PAY']+emp['HRA']+emp['DA']-emp['TAX']

In [ ]:
emp['Salary']

0      88200
1      93300
2      98400
3     103500
4     108600
5     113700
6     118800
7     123900
8     129000
9     134100
10    139200
11    144300
12    149400
13    154500
Name: Salary, dtype: int64

In [ ]:
from datetime import datetime

In [ ]:
emp['DOB']=pd.to_datetime(emp['DOB'],format='%d-%m-%Y')

In [ ]:
emp